@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  table-layout: fixed;
}

td {
  font-family: "Poppins", "Lato";
  padding: 1rem;
  overflow: auto;
  font-size: 1.1rem;
  text-align: center;
  width: 33%;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: "Poppins", "Lato";
  padding: 0.5rem;
}

h2 {
  font-family: "Poppins", "Lato";
  padding-left: 1rem;
  font-size: 1.3rem;
}

.column {
  flex-basis: 33%; /* Each column occupies 33% of the width */
  padding: 0 0.5rem;
}

.borderTd {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
}

.tableContainer {
  margin: 0 auto;
  width: 60%;
}

.spendingCategories {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.disclaimer {
  text-align: center;
}

.disclaimer i {
  font-size: 0.9rem;
}

.tableWrapper {
  width: 100%;
}

.selectionRow {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8.5%;
  padding: 1rem 0rem;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.submitButton {
  font-family: "Poppins", "Lato";
  color: white;
  border: none;
  background: green;
  width: 9rem;
  height: 2.5rem;
  font-size: 1.3rem;
  border-radius: 2rem;
  cursor: pointer;
}

.submitButton:hover {
  background: rgb(0, 110, 0);
  box-shadow: 0.5rem 0.5rem 0.5rem #eee;
}

.bulletPoint {
  margin-bottom: 1rem;
}

.cellContent ul {
  padding-left: 2rem;
}

.cellContent ul li {
  position: relative;
  left: -0.7rem;
  text-align: left;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(243, 243, 243);
  height: 6rem;
}

@media (max-width: 1000px) {
  .tableContainer {
    width: 100%;
  }
  td {
    font-size: 1rem;
    padding: 1rem;
  }

  p {
    text-align: center;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  .tableContainer {
    width: 70%;
  }
}
