/* Apply column layout using flexbox */
/* .cellContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.column {
  flex-basis: 33%; /* Each column occupies 33% of the width */
  padding: 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  table-layout: fixed;
}

td {
  font-family: Lato;
  padding: 15px;
  text-align: left;
  width: 33%;
  text-align: center;
  overflow: hidden;
  font-size: 1.1rem;
}

.borderTd {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
}

img {
  max-width: 100%;
  height: auto;
}

.tableContainer {
  margin: 0 auto; /* Center align the table */
  width: 50%;
}

@media (max-width: 1000px) {
  .tableContainer {
    width: 80%;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  .tableContainer {
    width: 70%;
  }
}
