/* Apply column layout using flexbox */
.cellContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column {
  flex-basis: 33%; /* Each column occupies 33% of the width */
  padding: 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

td {
  font-family: Lato;
  padding: 8px;
  text-align: left;
  width: 33%;
}

.borderTd {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.tableContainer {
  margin: 0 auto; /* Center align the table */
  width: 50%;
}
