/* Apply column layout using flexbox */
.cellContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-basis: 33%; /* Each column occupies 33% of the width */
  padding: 0 10px;
}

/* Adjust table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  font-family: Lato;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000000;
  width: 33%;
}

tr:last-child td {
  border-bottom: none;
}

.columnName {
  color: blue;
}
