.header {
  background-color: #f5f5f5;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Add this line */
}

.contentContainer {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Segoe UI";
  margin: 0;
}

h3 {
  font-family: "Lato";
  margin: 0;
  margin-right: 10px; /* Add margin between h3 and logo */
}

.logo {
  width: 35px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 500px) {
  h1 {
    font-size: 27px;
  }
}
