/* Apply column layout using flexbox */
/* .cellContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.column {
  flex-basis: 33%; /* Each column occupies 33% of the width */
  padding: 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  table-layout: fixed;
}

td {
  font-family: Lato;
  padding: 15px;
  overflow: auto;
  font-size: 1.1rem;
  text-align: center;
  width: 33%;
}

.borderTd {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: Lato;
  padding-left: 1rem;
}

.tableContainer {
  margin: 0 auto; /* Center align the table */
  width: 60%;
}

.spendingCategories {
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Distribute items evenly along the main axis */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 2px;
}

.tableWrapper {
  width: 100%;
}

.selectionRow {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8.5%;
  padding: 10px 0px;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submitButton {
  font-family: Lato;
  color: white;
  border: none;
  background: green;
  width: 140px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.submitButton:hover {
  background: rgb(0, 110, 0);
  box-shadow: 5px 5px 5px #eee;
}

.bulletPoint {
  margin-bottom: 1rem;
}

.pageContainer {
  padding-bottom: 20px;
}

.cellContent ul {
  padding-left: 2rem;
}

.cellContent ul li {
  position: relative;
  left: -10px;
  text-align: left;
}

@media (max-width: 1000px) {
  .tableContainer {
    width: 100%;
  }
  td {
    font-size: 1rem;
    padding: 5px;
  }

  p {
    text-align: center;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  .tableContainer {
    width: 70%;
  }
}
